@using AdondeVamos.Models
@model AdondeVamos.Models.Entities.Usuarios

<div class="wrapper">
    <header class="main-header">
        <!-- Logo -->
        <a href="#" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>A Donde Vamos ? SECCION MAPA</b> </span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li>
                        @*<a href="#" data-toggle="control-sidebar" class="info"><i class="fa fa-arrow-left"></i> Volver al sitio</a>*@
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="~/Content/dist/img/avatar5.png" class="img-circle" alt="User Image">
                </div>
                <div class="info">
                    <h6>@Session["Usuario"]</h6>

                </div>
            </div>

            <ul class="sidebar-menu" data-widget="tree">
                <li>
                    @Html.ActionLink("Cerrar sesion", "Salir", "Home")
                </li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>
</div>

