@using AdondeVamos.Model

@{
    ViewBag.Title = "Error";
}
@{
    Html.RenderPartial("_EstiloIndex");
}
<nav id="mainNav">
    <div class="container">
    
        
    </div>
</nav>

<header>
    <section id="login">
        <div class="limiter">
            <div class="container-login100" style=" background: linear-gradient(180deg, #FFAB00, #C2185B), url('../img/intro-bg.jpg') center top no-repeat;">
                <div class="wrap-login100 p-l-60 p-r-60 p-t-62 p-b-33">
                    <form class="login100-form validate-form flex-sb flex-w">


                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 text-center">

                                    @if (TempData["mensaje"] != null)
                                    {
                                        <h2 class="section-heading">@TempData["mensaje"]</h2>
                                        <h3 class="section-subheading section-info">Lo siento, por favor reintente</h3>
                                    }
                                    else
                                    {
                                        <h2 class="section-heading">Pagina no encontrada!</h2>
                                        <h3 class="section-subheading section-info">Lo siento, la pagina no existe, por favor reintente</h3>
                                    }
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</header>
© 2019 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About

